@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@mixin BoxSizing($jscontent) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: $jscontent;
}
body {
    height: 100vh;
    width: 100vw;
    @include BoxSizing(center);
    background-image: linear-gradient(45deg, #000000, #2d3436);
}
#container {
    font-family: "Merienda", cursive;
    color: white;
    width: 70vw;
    height: 100vh;
    text-align: center;
    position: relative;
}
.imgContainer {
    border: 8px solid skyblue;
    border-radius: 10px;
    height: 88.5%;
    height: auto;
    width: 90%;
    // background: url(../images/contBcg-0.jpg);
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    img{
        width: 100%;
        height: 100%;
    }
}
.fas {
    position: absolute;
    font-size: 30px;
    background-color: #eee;
    color: skyblue;
    cursor: pointer;
    &:hover {
        color: #eee;
        background-color: skyblue;
    }
}
.fa-caret-square-left {
    top: 50%;
    left: 4%;
}
.fa-caret-square-right {
    top: 50%;
    right: 4%;
}
